@import "./variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
// small screens
@media only screen and (max-width: 800px) {
  .container {
    max-width: 95vw;
    margin-bottom: 4rem;
  }
}

// large screens
@media only screen and (min-width: 600px) {
  .container {
    padding: 50px 0;
    max-width: 60vw;
    margin: 0px auto;
  }
}

.content {
  display: grid;
  // place-items: center;
  padding: 1rem;

  h1 {
    font-weight: 600;
    font-size: 3rem;
    color: $textPrimary;
    font-family: $fontPrimary;
  }
  h2 {
    font-size: 2rem;
    color: $textSecondary;
  }
  h5 {
    color: $accentPrimary;
    font-family: $fontTertiary;
  }
  p {
    font-family: $fontSecondary;
  }
}
