@import "./variables";

/* customize scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: $bgPrimary;
}
body::-webkit-scrollbar-thumb {
  background: $accentPrimary;
}
