$transitionSpeed: 500ms;

// Colors
$textPrimary: #fff;
$textSecondary: #aaa;
$textLight: rgb(121, 121, 121);

$bgPrimary: #151515;
$bgSecondary: #202022;

// $accentPrimary: #f44336;
$accentPrimary: #ff5722;
$accentDark: #dd2c00;
$accentLight: #ffccbc;

// Fonts
$fontPrimary: "Montserrat";
$fontSecondary: "Open Sans";
$fontTertiary: "Roboto Mono";

// layout
$sideBarThickness: 16rem;
