$transitionSpeed: 100ms;

// Colors
$textPrimary: #fff;
$textSecondary: #ddd;

$bgPrimary: #151515;
$bgSecondary: #202022;

$accentPrimary: #f44336;
$accentSecondary: #c62828;

// Fonts
$fontPrimary: "Montserrat";
$fontSecondary: "Open Sans";
$fontTertiary: "Roboto Mono";

// layout
$sideBarThickness: 16rem;
