@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600&family=Roboto+Mono:wght@300;400;600&display=swap");

@import "./variables";
:root {
  font-size: 16px;
  font-family: $fontPrimary;
}
body {
  color: $textPrimary;
  background-color: $bgPrimary;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
li {
  list-style: none;
}

// @import "./normalize";
@import "./navbar";
@import "./container";
@import "./badge";

// @import "./theme";
@import "./scrollbar";
// @import "./button";
@import "./bucket";
