@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600&family=Roboto+Mono:wght@300;400;600&display=swap");
:root {
  font-size: 16px;
  font-family: "Montserrat";
}

body {
  color: #fff;
  background-color: #151515;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  height: 100%;
  position: fixed;
  background-color: #202022;
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  overflow-y: auto;
}

.navbar .social-items {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 16rem;
}

.navbar .social-items .media-links {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .social-items .media-links :hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #ff5722;
}

.social-items .media-links {
  color: #aaa;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-items .media-links :hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #ff5722;
}

.logo {
  position: absolute;
  top: 0;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #aaa;
  background: #202022;
  width: 100%;
}

.logo :hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 3px solid #ff5722;
}

.displayPicture {
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 40%;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-item {
  width: 100%;
}

.nav-item :hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  background: #151515;
  color: #ff5722;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.nav-link svg {
  font-size: 1.25rem;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

/* small screens */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
    padding: 1rem;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-link span {
    display: none;
  }
  main {
    margin: 0;
  }
  .social-items {
    display: none;
  }
}

/* large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 16rem;
    padding: 1rem;
  }
  .navbar {
    left: 0;
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  /* expand navbar upon hover & only on large screens*/
  .navbar {
    width: 16rem;
  }
  .navbar .link-text {
    display: inline;
  }
  .navbar .social-items {
    bottom: 0;
  }
  .navbar .nav-item .media-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 95vw;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 50px 0;
    max-width: 60vw;
    margin: 0px auto;
  }
}

.content {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
}

.content h1 {
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  font-family: "Montserrat";
}

.content h2 {
  font-size: 2rem;
  color: #aaa;
}

.content h5 {
  color: #ff5722;
  font-family: "Roboto Mono";
}

.content p {
  font-family: "Open Sans";
}

.styledButtonPrimary {
  display: inline;
  margin: 0px 4px 4px 4px;
  padding: 1rem 2rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 2px;
  border: 1px solid #ff5722;
  color: #ff5722;
}

.styledButtonPrimary :hover {
  cursor: pointer;
}

.styledButtonSecondary {
  text-transform: uppercase;
  line-height: 2;
  display: inline-block;
  margin: 4px 4px 4px 0px;
  padding: 0.2rem 0.6rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 0.8rem;
  font-family: "Roboto Mono";
  color: #aaa;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.styledButtonTertiary {
  display: inline block;
  margin: 4px 4px 4px 0px;
  padding: 0.2rem 0.4rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #fff;
  background: #151515;
}

.styledButtonTertiary :hover {
  color: #ff5722;
}

/* customize scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #151515;
}

body::-webkit-scrollbar-thumb {
  background: #ff5722;
}

.bucket {
  border-top: 1px dashed #797979;
  padding-bottom: 2rem;
}

.bucket .title {
  color: #ff5722;
}

.bucket div:first-child {
  border-top: none;
}
/*# sourceMappingURL=styles.css.map */